<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Configurações</h1>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><a href="#">Empresa</a></h5>
                <p class="card-text">Configure os dados da empresa como CNPJ, razão social, etc.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><a href="#">Centros de Custos</a></h5>
                <p class="card-text">Crie centros de custos para alocar as entradas e saídas de recursos.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><a href="#">Transações</a></h5>
                <p class="card-text">Defina todas as transações e eventos que auxiliarão gerenciar as finanças.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><a href="#">Plano de Contas</a></h5>
                <p class="card-text">Configure um plano de contas aqui e automatize os lançamentos para cada transação.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><a href="#">Gestão de Acessos</a></h5>
                <p class="card-text">Defina o que seus usuários podem acessar.</p>
            </div>
        </div>
    </div>
</div>