<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Integrações</h1>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">RSD <span
                        style="padding-left: 5px; border-left: dashed 1px black;">Finanças</span></h5>
                <p class="card-text">Configure as permissões e detalhes das API do RSD <span
                    style="padding-left: 5px; border-left: dashed 1px black;">Finanças</span>.</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-primary w-100">Configurar</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">RSD <span
                        style="padding-left: 5px; border-left: dashed 1px black;">Contábil</span></h5>
                <p class="card-text">Integre os lançamentos para o módulo RSD <span
                        style="padding-left: 5px; border-left: dashed 1px black;">Contábil</span>.</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-primary w-100">Configurar</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">ECD</h5>
                <p class="card-text">Exporte os arquivos para a Escrituração Contábil Digital.</p>
            </div>
            <div class="card-footer">
                <div class="btn-group w-100">
                    <a class="btn btn-outline-primary">Configurar</a>
                    <a class="btn btn-outline-success">Exportar</a>
                </div>
            </div>
        </div>
    </div>
</div>